@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}



  @import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: darkorange;
  --color-secondary: orange;
  
}
  